

.controls {
    z-index:1000;
    position: absolute;
    top:10px;
    right:10px;
    border-radius: 10px;
    padding:5px;
    background-color:#e0e5ec;
    box-shadow: inset -2px -2px 10px rgb(163,177,198,0.8), inset 2px 2px 10px  rgba(255,255,255, 0.8);
}

.controls__control {
    cursor:pointer;
    width:30px;
    height:30px;
    display:block;
    text-align: center;
    font-weight: 700;
    font-size:18px;
    line-height: 30px;
    border:none;
    background-color:transparent;
    color: #7e8a98;
    transition:color .3s;
    box-shadow: inset 4px 4px 10px rgb(163,177,198,0.8), inset -4px -4px 10px  rgba(255,255,255, 0.8);
    border-radius: 50% !important;
    transition:color .3s;
}

.controls__control:not(:first-child) {
    margin-top:5px;
}

.controls__control:hover {
    color:black;
}