@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
    height:100vh;
    width:100vw;
}

.leaflet-touch .leaflet-bar {
    border:none;
    border-radius: 10px;
    background-color:#e0e5ec;
    box-shadow: inset 4px 4px 10px rgb(163,177,198,0.6), inset -4px -4px 10px  rgba(255,255,255, 0.5);
}

.leaflet-bar a {
    border:none;
    background-color:transparent;
    color: #7e8a98;
    transition:color .3s;
}

.leaflet-bar a:hover {
    background-color:transparent;
    border:none;
}